[Unit]
Description=Giraffe
After=network.target

[Service]
Type=simple
ExecStart=/usr/shit/jirafeitor
Restart=always
RestartSec=20
User=root

Environment="DB_URL=postgres://jirafeitor_user:password@localhost:5432/jirafeitor"
Environment="SECRET=secret"
Environment="JIRAFEITOR_ROOT=/var/www/jirafeitor/"
Environment="ULTRAPASS=ultrapass"

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
