{{- range .Pages -}}
<div>
    <a href = "{{- .RelPermalink -}}" title = "{{- .Title -}}">
    <span class="post-link">
        {{ if lt (len .Title) 30 }}
            {{- .Title -}}
        {{ else }}
            {{ slicestr .Title 0 22 }}...
        {{ end }}</span>
    <span class="info">
        {{ $words := replaceRE `(?s)<code>.*?</code>` "" .Content | countwords }}

        {{ if lt $words 100 }}
            (tiny)
        {{ else if lt $words 350 }}
            (short)
        {{ else if lt $words 800 }}
            (mid)
        {{ else  }}
            (large)
        {{ end }}
    </span>
    <span class="info">
        {{ time.Format "1/06" .Date }}
    </span>
    </a>
</div>
{{- end -}}
