body {
  margin: 0;
  background-color: grey; }

#spawn {
  position: relative;
  top: 0;
  left: 0;
  width: 0;
  height: 0; }

img {
  position: absolute;
  top: 0;
  left: 0; }

.pixelated {
  image-rendering: pixelated; }

#screen {
  display: block;
  overflow: hidden;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0; }
